<%= content_tag :h1, @project.name %>
<%= link_to "新しいドキュメント", new_project_document_path, class: ["button", "is-success"] %>

<table class="table">
  <thead>
    <tr><th>Name</th></tr>
  </thead>
  <tbody>
    <% @documents.each do |document| %>
      <tr><td><%= link_to document.name, document_path(document) %></td></tr>
      <% end %>
  </tbody>
</table>


<%= link_to "プロジェクト一覧", projects_path %>
