<%= link_to "新しいプロジェクト", new_project_path, class: ["button", "is-success"] %>
<table class="table">
  <thead>
    <tr><th>Name</th></tr>
  </thead>
  <tbody>
    <% @user.projects.each do |project| %>
      <tr>
        <td>
          <%= link_to project.name, project_documents_path(project) %>
          <%= link_to "| 編集", project_path(project) %>
        </td>
      </tr>
    <% end %>
  </tbody>
</table>
