<p class="control">
  <%= form_for [version, post], remote: true do |f| %>
    <%= f.text_field :content, class: "post_content" %>
    <%= hidden_field_tag "post[version_id]", version.id  %>
    <%= f.submit "post", class: ["button", "is-primary"] %>
  <% end %>
</p>
