var posts = "<%= escape_javascript( render @posts.reverse ) %>";
$(".infinite-posts .posts").prepend(posts);

<% if !@posts.last_page? %>
  var pagination = "<%= escape_javascript(link_to_next_page @posts, 'Loading...', remote:true) %>";
<% else %>
  var pagination = "<p>-- 最初の投稿です --</p>"
<% end %>

$(".infinite-posts .pagination").html(pagination);
