$border-default: #d3d6db

.file-upload
  padding: .5em
  border: dotted 2px #ccc
  border-radius: 6px

.is-full-width
  width: 100%

.is-border
  border: solid 1px $border-default

.is-border-radius-4
  border-radius: 4px
