// Place all the styles related to the project_users controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.name{
  padding: 12px 4px 8px 0;
}

.user_row{
  padding: 10px 0;
  vertical-align: middle;
  border-bottom: 1px solid #ccc;
}
